a{
    text-decoration: none !important;
    color:#007799;
    text-shadow: 0px 0px 0px #fff;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
a:hover{
    color:#03294D;
    text-shadow: 0px 0px 0px #fff;
    padding-left:20px;
  }



ul{
    list-style-type: none;
}

#overPic{
    width: 200px;
    height: 200px;
    border-radius:50%;
}
#overPic:hover{
    border:2px solid black;
}
.avatarBox{
    color:black;
}


/*--------REGISTRATION VIEW------------*/

/* .regView{
    display: flex;
    flex-direction: column;
}
.regContent{

}*/
.regForm{
    margin-bottom:100px;
    border:1px solid black;
    padding: 30px;
} 