@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    font-family: 'Roboto', sans-serif;
}
h5{
    color:black;
}
.photoChild{     
    position:relative; 
    animation-name:animRoule; -webkit-animation-name:animRoule; 
    -moz-animation-name:animRoule; -o-animation-name:animRoule; 
    animation-duration:1.3s; -webkit-animation-duration:1.3s; 
    -moz-animation-duration:1.3s; -o-animation-duration:1.3s; 
    animation-iteration-count :1; -webkit-animation-iteration-count:1; 
    -moz-animation-iteration-count:1; -o-animation-iteration-count:1; 
    animation-direction:alternate; -webkit-animation-direction:alternate; 
    -moz-animation-direction:alternate; -o-animation-direction:alternate; 
    animation-timing-function:linear; -webkit-animation-timing-function:linear; 
    -moz-animation-timing-function:linear; -o-animation-timing-function:linear; 
} 
    @keyframes animRoule{ 
    0% {transform:rotate(0deg); left:-1200px;
    }
        100%{transform:rotate(360deg); left:0px;}
    } 
    @-webkit-keyframes animRoule{ 
    from {-webkit-transform:rotate(0deg); left:0px;} to {-webkit-transform:rotate(360deg); left:350px;} 
    } 
    @-moz-keyframes animRoule{ 
    from {-moz-transform:rotate(0deg); left:0px;} to {-moz-transform:rotate(360deg); left:350px;} 
    } 
    @-o-keyframes animRoule{ 
    from {-o-transform:rotate(0deg); left:0px;} to {-o-transform:rotate(360deg); left:350px;} 
    }
.photoChild:hover, .photoChild2:hover{
    border:2px solid black;
} 
.childName{
    animation: cssName 1.5s 1 ease forwards;
    -webkit-animation: cssName 1.5s 1 ease forwards;
    -moz-animation: cssName 1.5s 1 ease forwards;
    -o-animation: cssName 1.5s 1 ease forwards;
    } 
    @keyframes cssName{
        0% {transform: scale(0);}         
        100% {transform: scale(1);}
    }
.avatarBox a, .photoChild2{
    width: 200px;
    height: 200px;
    border-radius:50%;
    background-size:contain;
    background-position: center center;
    display: inline-block;
}
.avatarBox{
    color:black;
}
.fly p{
    font-style: italic;
}

/*--------REGISTRATION VIEW------------*/
.regForm{
    margin-bottom:100px;
    border:1px solid black;
    padding: 30px;
}
.h1Home{
    margin: 100px 0;
    text-align:center;
    width: 50%;
    font-size: 4rem;
}
.h2Home{
    margin: 50px 0;
    text-align:center;
    font-size: 3rem;
}
/*----------------registrationView.php-----------------*/
/*------------------popup password and mail-------------------------*/
#pop{
    display: none;
    width: max-content;
}
#popMail{
    display: none;
    border: 1px solid;
}
/*--------------FOOTER------------*/
footer{
     background-color: #33383c;
     padding:30px 0px;
}	       
.logo{
    text-align:center;
    color:#FFF;
    font-weight:700;
    font-size:30px;
}
.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
.menu{
    text-align:right;
}
.address li a , .menu li a, .menu .contactUs{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}
.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}
.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.menu .contactUs:hover{
    color: #da3e44;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}
.logo2{
    width:50%;
}
.contactMouse{
    cursor: pointer;
}
/*--------FAMILY VIEWS---------*/
.bannerBox a{
    width: 100%;
    height: 250px;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}

/*--------MEMBERVIEW---------*/
#logoTurn{
    transform-origin: 50% 50%;
    animation: rotating 3s linear infinite;
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
#logoTurn2 {
    animation: rotating 2s linear 2;
    -webkit-animation: rotating 2s linear 2;
    -moz-animation: rotating 2s linear 2;  
}
#logoTurn2:hover{
    animation-play-state: paused;
}