@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #dbe7f7;
}
h5{
    color:black;
}
li{
    list-style-type: none;
}
.childName{
    animation: cssName 2s 1 ease forwards;
    -webkit-animation: cssName 2s 1 ease forwards;
    -moz-animation: cssName 2s 1 ease forwards;
    -o-animation: cssName 2s 1 ease forwards;
    } 
    @keyframes cssName{
        0% {transform: scale(0);}         
        100% {transform: scale(1);}
    } 
.photoChild:hover, .photoChild2:hover{
    border:2px solid black;
}
.childForm, .editForm{
    padding-bottom:50px;
}
.modoName{
   color:blue;
   font-weight:bold;
}
.formCrEd{
    margin-top:50px;
    background-color:white;
    padding:30px 0;
    border-radius:30px;
    box-shadow:  0 0 30px #212121;
}
.avatarBox a, .photoChild2{
    margin-top:10px;
    min-width: 200px;
    height: 200px;
    border-radius:50%;
    background-size:contain;
    background-position: center center;
    display: inline-block;
}
.avatarBox{
    color:black;
}
.cardFam{
    border-radius: 5%;
    border:3px solid #f67280 ;
}
 .cardFamP{
    border-radius: 5%;
    border:3px solid #c06c84;
 } 
 .cardFamGP{
    border-radius: 5%;
    border:3px solid #355c7d;
 }
.cardFam, .cardFamP, .cardFamGP{
    background-color: white;
}
.cardFam:hover, .cardFamP:hover, .cardFamGP:hover{
    background-color: #f8b195;
}
.cardFam:hover{  
    border:2px solid#f8b195;
}
.cardFamP:hover{
    border:2px solid #f67280;
}
.cardFamGP:hover{
    border:2px solid #c06c84;
}
.cardFamX{
    border:8px solid #f4d3b8;
    border-radius: 20px !important;
    box-shadow: 6px 6px 20px #212121;
    background-color: white;
}
.cardXX{
    margin-left: 6%;
}
.cardFamX:last-child{
    margin-top:2rem !important;
}
.cardFamX:hover{
    border:8px solid #89654f;
    box-shadow: 6px 6px 20px #212121;
}
.cardFamX h2{
    margin-top:10px;
    margin-left:10px ;
}
.cardFamX p{
    margin-left: 10px;
}
.fly p{
    font-style: italic;
}
.icone{
    display:inline-block;
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    width:36px;
    height:36px;
    left:-38px;
    border-radius:50%;
}
.iconeSpan{
    position:relative;
    margin-left:30px;
}
.h1Fam{
    text-align:center;
}
/*--------REGISTRATION VIEW------------*/
.regForm{
    margin-bottom:100px;
    border:1px solid black;
    padding: 30px;
}
.h1Home{
    margin: 100px 0 80px 0;
    text-align:center;
    width: 50%;
    font-size: 4rem;
}
.h2Home{
    margin: 50px 0;
    text-align:center;
    font-size: 3rem;
}
/*----------------registrationView.php-----------------*/
/*------------------popup password and mail-------------------------*/
#pop{
    display: none;
    width: max-content;
}
#popMail{
    display: none;
    border: 1px solid;
}
/*--------------FOOTER------------*/
footer{
     background-color: #33383c;
     padding:30px 0px;
}	       
.logo{
    text-align:center;
    color:#FFF;
    font-weight:700;
    font-size:30px;
}
.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
.menu{
    text-align:right;
}
.address li a , .menu li a, .menu .contactUs{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}
.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}
.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.menu .contactUs:hover{
    color: #da3e44;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
a.dropdown-item:hover{
    color: #da3e44;
}
.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}
.logo2{
    width:50%;
}
.contactMouse{
    cursor: pointer;
}
/*--------FAMILY VIEWS---------*/
.bannerBox a{
    width: 100%;
    height: 250px;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}
.photoChild{
    margin-right:250px;
}
.photoChild:hover{
    background-color: white;
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 50px #fff;
	}
}
@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 60px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 20px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
.bannerFamily{
    animation:blurFadeIn 0.5s ease-in 0.3s backwards;
}
.frame5 span{
    animation: blurFadeInOut 0.5s ease-in backwards;
    font-family: 'Caveat Brush', cursive;
    color: #056c8e;
}
.loco{
    border-radius: 2% !important;
}
.h5Mem{
    padding:10px 20px;
}
.titleFam{
    font-size:30px;
    margin-top: 30px;
}
.frame6 span{
    animation: blurFadeInOut 0.5s ease-in 0.3s backwards;
    font-family: 'Caveat Brush', cursive;
    color: #056c8e;
}
.noFrame{
    font-family: 'Caveat Brush', cursive;
}
.avatarBox .photoChild, .loco{
    animation: blurFadeIn 0.5s ease-in 0.3s backwards;
}
.avatarBox .photoChild:nth-child(2){
    animation: blurFadeIn 1s ease-in 0.7s backwards;
}
.avatarBox .photoChild:nth-child(3){
    animation: blurFadeIn 1s ease-in 0.8s backwards;
}
.avatarBox .photoChild:nth-child(4){
    animation: blurFadeIn 1s ease-in 0.9s backwards;
}
.avatarBox .photoChild:nth-child(5){
    animation: blurFadeIn 1s ease-in 1s backwards;
}

/*--------MEMBERVIEW---------*/
#logoTurn{
    transform-origin: 50% 50%;
    animation: rotating 3s linear infinite;
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
#logoTurn2 {
    animation: rotating 3s linear 2;
    -webkit-animation: rotating 3s linear 2;
    -moz-animation: rotating 3s linear 2;  
}
#logoTurn2:hover{
    animation-play-state: paused;
}

.writings{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.updateUser{
    color:#b80308;
}
.nameMV{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#6bbfb0;
    font-weight: bold;
}
.pageMV{
    border-radius:2%;
}
.pseudoF{
    color:#ee2a7b;
}
.pseudoM{
    color:#056c8e;
}
.styleH1{
    font-family: 'Caveat Brush', cursive;
    font-size: 3.5rem;
}
/*------DELETE FAMILY MODAL---------*/
.padiday{
    background: linear-gradient(120deg, #da3e44, #AA0044);
    background-size: 200% 200%;
    animation: warningModal 3s ease infinite;
}

@keyframes warningModal{
    0%{background-position: 0% 50%;

    }
    50%{background-position: 100% 50%;

    }
    100%{background-position: 0% 50%;

    }
}
/*------ADD MODO MODAL---------*/
.padiday2{
    background: linear-gradient(120deg, #0272a1, #17a2b8);
    background-size: 300% 300%;
    animation: warningModal2 3s ease infinite;
}

@keyframes warningModal2{
    0%{background-position: 0% 50%;

    }
    50%{background-position: 100% 50%;

    }
    100%{background-position: 0% 50%;

    }
}



.nav-link:hover, .dropdown-toggle:hover{
    background-color: #6bbfb0 !important;
    color: #FFF !important;
    border:1px solid transparent;
    border-radius: .25rem;
}
.kitDel:hover{
    background-color: #6bbfb0 !important;
    color: #FFF !important;
}
.kitDel2:hover{
    background-color: #388ebf !important;
    color: #FFF !important;
}
.kitDel3:hover{
    background-color: #056c8e !important;
    color: #FFF !important;
}
.kitDel4:hover{
    background-color: #ee2a7b !important;
    color: #FFF !important;
}
.kitDel5:hover{
    background-color:#fa164b !important;
    color:#fff !important;
}
.photoMD{
    margin-left:0;
}
/*-----------ADMIN------------*/
.jumbotron{
    margin-top: 100px;
    background-color: white !important;
}
.main-menu{
    z-index:10000;
}
.folio1, .folio2{
    margin-top:100px;
    height: 300px;
    display:flex;
    justify-content: center;
}
.spanDashX{
    font-weight: bold;
    color:#89654f;
    float: right;
}
.spanDashXX{
    font-weight: bold;
    color:red;
    font-size:24px;
}
#mask{
    cursor:pointer;
}
.ita3{
    font-size:36px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*----------AUTOCOMPLETE--------*/
.childMain{
    display:flex;
    flex-direction: column; 
    align-items:center;   


  }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.startDate{
    display: none;
}
.ita{
    text-decoration: underline;
}
.errorMsg{
    animation: errorAnim 1s infinite;
    text-align: center;
}
@keyframes errorAnim{
    0%{ opacity: 0; }
    100%{opacity:1;}
}
.turn3{
    max-width:70%;
}
.ui-helper-hidden-accessible{
    display:none;
}
#footer{
    margin-top:100px;
}
.fatRed{
    font-weight: bold;
    color:red;
}
.ita2{
    font-style: italic;
    font-size:18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.centerCol{
    text-align:left;
}
.tableModo{
    background-color: white;
    padding:30px 0;
    border-top: 8px solid #f4d3b8;
    border-radius:30px;
    box-shadow:  0 0 30px #212121;
    margin-top: 30px;
}
.thead-light{
    border-bottom: 3px solid #85562b;
}
#modoMemList{
    display:flex;
}
.nameChild{
    font-size: 40px;
    margin-left:30px;
    font-family: 'Caveat Brush', cursive;
}
.leaveOut{
    margin-top:100px;
}
.btnLeaveOut{
    background-color: #d57b7a;
    color: black;
}
.btnLeaveOut:hover{
    background-color: #d57b7a;
    color: white;
    font-weight: bold;
}
.mainPV{
    background-color:white;
    padding:30px 0;
    border: 8px solid #f4d3b8;
    border-radius:30px;
    box-shadow:  0 0 30px #212121;
}
.h1Create{
    font-size:3rem;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}
.proForm .label1{
    padding-right:100px;
}
.proForm .label2{
    padding-right:10px;
}
.proForm .label3{
    padding-right:40px;
}
input,textarea{
    border-radius:5px;
}
#wordsCo{
    width:80%;
}
#humor{
    margin-bottom:50px;
    text-align: center;
    font-size:20px;
}
.delPV{
    float: right;
    color:red;
    font-size: 13px;
    padding-top:15px;
    opacity: 85%;
}
.delPV:hover{
    color:red;
}
#small{
    margin:0 0 12px 20px;
    font-size:12px;
}
.reducePCC{
    font-size:14px;
    margin:0 20px;
}

.editP2{
    margin: 0 20px;
}
.ui-menu-item:hover{
    cursor: pointer;
    background-color: rgba(0, 122, 254, 0.2);
    
}
.marginB{
    margin-bottom: 20px;
}
.testP{
    text-align: left;
}
/*-------MEDIA QUERIES---------*/
@media screen and (max-width: 320px){
    #mask{
        margin-left:-10px;
    }
}
@media screen and (max-width: 568px){
    body{
        overflow-x: hidden;
    }
}
@media screen and (min-width: 593px){
    .jumbo,.jumbo2{
        position: relative;
    }
    .zipThead{
        display: none;
    }
}
@media screen and (max-width: 592px){
    .jumbo{
        font-size:12px;
        position: absolute;
        margin-left:10%;        
    }
    .yop{
        display: none;
    }
    .jumbo2{
        position: absolute;
        max-width: 80%;
        margin-left: 10%;
        overflow: hidden;
    }
    .msgR td{
        margin-left:-8%;
    }
    .col3mv{
        display: none;
    }
    .pMem{
        font-size:18px;
    }
    #test,#test2{
        font-size: 26px;    
    }
    #test{
        margin-bottom:2rem !important;
        text-align: center;
    }
    .zip{
        display: none;
    }
    #accordion{
        display: flex;
        flex-direction: column;
    }
    .msgR{
        display: flex;
        flex-direction: column;
    }
    .zipThead{
        color:#c85d7b;
    }
    .eraseThD{
        display:none;
    }
    .h1Fam{
        font-size:3rem;
        margin-left:-10%;
    }
    .h1Create{
        font-size:1.8rem;
    }
    .h2Create{
        font-size: 1.5rem;
    }
    .tableModo{
       display:flex;
       flex-direction: column;
       border: 4px solid black !important;
    }
    .proForm input, .proForm textarea{
        margin-left: 4px;
    }   
    .proForm .label2, .label3{
        padding-top:15px;
        padding-bottom: -20px;
    }    
    .delPV{
        margin-top:80px;
        margin-right:50px;
    }
    .reduceP{
        margin:0 20px 20px 20px;
    }
    .reducePCC{        
        text-align: center;
    }
    #small{
    margin: 0 5px 15px 5px;
    text-align: justify;
    }
    .childForm{
        margin-left:10px;
    }
    .editP{
        margin-left:0 20px;
    }
    .editP2{
        margin-bottom: 15px;
    }
    .cardJumbo{
        margin-left: 50px;
    }
    .frame5 span{
        font-size:50px;
    }
    .frame6 span{
        font-size:50px;
    }

}
@media screen and (max-width: 768px){
    .cardChild{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .cardM{
        margin-left: 6%;
    }
    .eraseThD{
        margin-left:-5%;
    }
    .centerCol:nth-child(3), .centerCol:nth-child(4), .centerCol2{
        display:none;
    } 
}
@media screen and (min-width: 768px){
    .photoMD{
       margin-left: -30px;
    }
}
@media screen and (min-width: 992px){
    .photoMD{
       margin-left: 10px !important;
    }
}
@media screen and (min-width: 992px){
    .iconeSpan{
       margin-left:60px;
    }
}
/* @media screen and (max-width:1066px){
    .iconeSpan{
       margin-left:60px;
    }
} */
